name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ./03-app-dotnet

    - name: Build
      run: dotnet build ./03-app-dotnet --no-restore

    - name: Test
      run: dotnet test ./03-app-dotnet --no-build --verbosity normal
