name: Dotnet Build

on: push   # Jab push hoga tab build chalega

jobs:
  build:
    runs-on: ubuntu-latest   # Machine (runner)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'   # Apne project ka version daalo (5,6,7,8)

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --no-restore
